<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Belly Button Biodiversity</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
  </head>
  <body>
    <div class="container-fluid text-center">
    <div class="jumbotron">
        <h1>Belly Button Biodiversity</h1>
        <h1>Dashboard</h1>
        <p class="lead">Use the interactive charts below to explore the dataset</p>
    </div></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="selDataset">SELECT Sample:</label>
                    <select id="selDataset" class="form-control" onchange="optionChanged(this.value)"></select>
        
                </div>
            </form>
            <div class="card">
                <div class="card-header">Sample Metadata</div>
                <div class="card-body" id="meta"></div>
            </div>
            </div>
            <div class="col-md-8 b-1" id="pieChart"></div>
        </div>
        <div class="row" id="bubbleChart"></div>
    </div>
    
    <!--call javascript for plotly and app.js-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>